@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root{
    --background: rgb(225, 181, 255);
}


* {
    margin: 0;
    box-sizing: border-box; /* Make sure the specified size is limited to the border */
}

/* Body */
.wrapper{
    font-family: "Oxygen", sans-serif; /* Set font to Oxygen (imported above), otherwise fall back on sans-serif. */
    justify-content: center;
    overflow-x: hidden; /* If there is horizontal overflow, hide the scroll bar */
    padding: 0;
    position: relative;
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a{
    color:black;
}


/* Navigation */
#sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}

#sticky > nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#sticky > nav p{
    width: 10%;
    min-width: 6rem;
    margin-left:5%;
}

#sticky > nav ul{
    justify-content: space-evenly;
    margin-right: 20%;
}

#sticky li a{
    text-decoration: none;
    padding: 5px 5px 0;
    border-bottom: 2px solid black;
}

#sticky li a:hover{
    background-color: lightblue;
    border-radius: 5px 5px 0 0;
}

#sticky a:visited{
    color:black;
}

#sticky > nav ul{
    width: 90%;
    margin-bottom: 10px;
}

#above{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

#above img{
    width: 150px;
}

#above a{
    margin-left:2%;
}

#above nav{
    margin-right: 1%;
}

#above ul{
    padding: 0;
    min-width: 300px;
}

#above li{
    display:flex;
    width: 150px;
    margin:1%;
    justify-content: center;
}






/* Home Main */
/* Hero */

#hero {
    height: 100vh;
    overflow:hidden;
    background-image:url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero img{ /* If CSS doesn't load, the hero image will load from html. */
    display:none;
}

.events{
    margin: 10px;
    width: 60ch;
    text-align: center;
}

#eventSectionWrapper{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.eventSection{
    margin: 10px;
}


#map iframe{
    width: 100%;
    height: 300px;
}

#calendar iframe{
    width: 100%;
    height: 500px;
}

.images{
    width: 100%;
}

.images img{
    width: 50%;
    padding: 10px;
}

.image-flex{
    display: flex;
    flex-direction: row ;
}

/* Gallery Main */




/* About Main */



/* Footer */

footer{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#footerWrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#footerWrapper a{
    text-decoration: none;
}
#footerWrapper a:visited{
    color: black;
}

#contact ul{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sitemap ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#sitemap ul li{
    margin: 5% 0;
}

#socials ul{
    display: flex;
    flex-direction: row;
}

#socials img{
    width: 70px;
    margin: 10px 20px;
}

#copyright{
    margin-bottom: 5px;
}

#copyright img{
    width: 32px;
}






/* Small screens - Mobile Phones */
@media(max-width:650px){
    #sticky{
    background-color: var(--background);
    position:static;
    }
    a{
        font-size: small;
    }
    #above li{
        width: 100px;
        margin:1%;
    }
    #socials ul{
        flex-direction: column;
    }
    #socials img{
        width: 40%;
        margin: 10px 10px;
    }

    #sticky > nav ul{
        justify-content: space-around;
        margin-right: 0;
    }

    #map iframe, #calendar iframe{
        height: 90vh;
    }
}